# Arquivos de configuração
.env

# Arquivos de log
*.log

# Arquivos binários e builds
/bin/
/build/

# Ambientes virtuais
/venv/
/env/
/.venv/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de banco de dados
*.db
*.sqlite
